.events-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    margin-top: 10px;
    width: 90%;

}

.event-item {
    width: 100%;
}

.btn-div {
    display: flex;
    flex-direction: column;
}

.new-event-btn {
    border-color: black;
    align-self: flex-end;
    margin-top: 10px;
}