.login {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}

.form {
    background-color: #57061C;
    display: flex;
    padding: 50px;
    flex-direction: column;
    border-radius: 70px;
    color: white;
}

.title {
    display: grid;
    line-height: 30px;

}

.logo {
    display: grid;
    margin-top: 5px;
    margin-bottom: 25px;
    
    text-align: justify;
    line-height: 15px;
    font-size: 15px;
}

.input {
    block-size: 30px;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: center;

}

.checklabel {
    font-size: 15px;
    margin-left: 5px;
    padding-bottom: 30px;

}

.buttom {
    align-self: flex-end;
    block-size: 30px;
    inline-size: 70px;
    border-radius: 7px;
    font-weight: bolder;
    font-size: 16px;

}